.vscode
UnityPackageManager
Mono
CHANGELOG.md
QAReport.md
Something.sln
Assembly-CSharp.csproj
Assets/#Scenes
Assets/Materials
Assets/Prefab
ProjectSettings
Library
obj/Debug
UnityCrashHandler64.exe
UnityPlayer.dll